/* navigation section */
#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}

/* home section */
#home{
    height: 310px;
}

#home::before{
    height: 410px;
    padding: 6px 160px;
}

#home p{
    font-size: 1rem;
}

/* services section */
#services {
    
    flex-direction: column;
}
/* client section */
#clients{
    overflow: hidden;
    flex-wrap: wrap;
}

#clients img{
    width: 155px;
    padding: 2px 12px;

}
/* conatct us section */

/* footer */    

/* utility classes */

.h-primary{
    font-size: 26px;
}